# copied from https://github.com/TizenTeam/vlc-tizen/blob/master/.gitignore 
/.checkers
/.rds_delta
/.sdk_delta.info
/.sign
/crash-info/
/res/res.xml
/vlc/
/Debug/
/Release/
/lib/*.so*
/lib/*.a
/emotion/
/libvlcpp/
/medialibrary/
*.tmp
*~
res/edje/*.edj


# this project
/.package-stamp
.DS_Store
